<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.staff.server.mapper.AttendanceTableMapper">
  <resultMap id="BaseResultMap" type="com.staff.common.pojo.AttendanceTable">
    <id column="ATTENDANCE_ID" jdbcType="BIGINT" property="attendanceId" />
    <result column="STAFF_ID" jdbcType="BIGINT" property="staffId" />
    <result column="ATTENDANCE_TIME" jdbcType="DATE" property="attendanceTime" typeHandler="org.apache.ibatis.type.LocalDateTypeHandler" />
    <result column="ATTENDANCE_STATUS" jdbcType="CHAR" property="attendanceStatus" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler" />
    <result column="MODIFIED_TIME" jdbcType="TIMESTAMP" property="modifiedTime" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    ATTENDANCE_ID, STAFF_ID, ATTENDANCE_TIME, ATTENDANCE_STATUS, CREATE_TIME, MODIFIED_TIME, 
    STATUS
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from attendance_table
    where ATTENDANCE_ID = #{attendanceId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from attendance_table
    where ATTENDANCE_ID = #{attendanceId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.staff.common.pojo.AttendanceTable">
    insert into attendance_table (ATTENDANCE_ID, STAFF_ID, ATTENDANCE_TIME, 
      ATTENDANCE_STATUS, CREATE_TIME, 
      MODIFIED_TIME, 
      STATUS)
    values (#{attendanceId,jdbcType=BIGINT}, #{staffId,jdbcType=BIGINT}, #{attendanceTime,jdbcType=DATE,typeHandler=org.apache.ibatis.type.LocalDateTypeHandler}, 
      #{attendanceStatus,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP,typeHandler=org.apache.ibatis.type.LocalDateTimeTypeHandler}, 
      #{modifiedTime,jdbcType=TIMESTAMP,typeHandler=org.apache.ibatis.type.LocalDateTimeTypeHandler}, 
      #{status,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.staff.common.pojo.AttendanceTable">
    insert into attendance_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="attendanceId != null">
        ATTENDANCE_ID,
      </if>
      <if test="staffId != null">
        STAFF_ID,
      </if>
      <if test="attendanceTime != null">
        ATTENDANCE_TIME,
      </if>
      <if test="attendanceStatus != null">
        ATTENDANCE_STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="modifiedTime != null">
        MODIFIED_TIME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="attendanceId != null">
        #{attendanceId,jdbcType=BIGINT},
      </if>
      <if test="staffId != null">
        #{staffId,jdbcType=BIGINT},
      </if>
      <if test="attendanceTime != null">
        #{attendanceTime,jdbcType=DATE,typeHandler=org.apache.ibatis.type.LocalDateTypeHandler},
      </if>
      <if test="attendanceStatus != null">
        #{attendanceStatus,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP,typeHandler=org.apache.ibatis.type.LocalDateTimeTypeHandler},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP,typeHandler=org.apache.ibatis.type.LocalDateTimeTypeHandler},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.staff.common.pojo.AttendanceTable">
    update attendance_table
    <set>
      <if test="staffId != null">
        STAFF_ID = #{staffId,jdbcType=BIGINT},
      </if>
      <if test="attendanceTime != null">
        ATTENDANCE_TIME = #{attendanceTime,jdbcType=DATE,typeHandler=org.apache.ibatis.type.LocalDateTypeHandler},
      </if>
      <if test="attendanceStatus != null">
        ATTENDANCE_STATUS = #{attendanceStatus,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP,typeHandler=org.apache.ibatis.type.LocalDateTimeTypeHandler},
      </if>
      <if test="modifiedTime != null">
        MODIFIED_TIME = #{modifiedTime,jdbcType=TIMESTAMP,typeHandler=org.apache.ibatis.type.LocalDateTimeTypeHandler},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=CHAR},
      </if>
    </set>
    where ATTENDANCE_ID = #{attendanceId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.staff.common.pojo.AttendanceTable">
    update attendance_table
    set STAFF_ID = #{staffId,jdbcType=BIGINT},
      ATTENDANCE_TIME = #{attendanceTime,jdbcType=DATE,typeHandler=org.apache.ibatis.type.LocalDateTypeHandler},
      ATTENDANCE_STATUS = #{attendanceStatus,jdbcType=CHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP,typeHandler=org.apache.ibatis.type.LocalDateTimeTypeHandler},
      MODIFIED_TIME = #{modifiedTime,jdbcType=TIMESTAMP,typeHandler=org.apache.ibatis.type.LocalDateTimeTypeHandler},
      STATUS = #{status,jdbcType=CHAR}
    where ATTENDANCE_ID = #{attendanceId,jdbcType=BIGINT}
  </update>
</mapper>